{
   "rules":{
      "indent":[
         2,
         2,
         {
            "VariableDeclarator":2,
            "SwitchCase":1
         }
      ],
      "space-before-function-paren":[
         1,
         {
            "anonymous":"never",
            "named":"never"
         }
      ],
      "linebreak-style":[
         2,
         "unix"
      ],
      "max-len":[
         2,
         320,
         4
      ],
      "semi":[
         2,
         "always"
      ],
      "quotes":[
         2,
         "single"
      ],
      "comma-spacing":[
         2,
         {
            "before":false,
            "after":true
         }
      ],
      "comma-style":[
         2,
         "last"
      ],
      "comma-dangle":[
         2,
         "never"
      ],
      "no-irregular-whitespace":[
         2
      ],
      "no-multi-spaces":[
         2
      ],
      "no-spaced-func":[
         2
      ],
      "space-in-parens":[
         2,
         "never"
      ],
      "space-before-blocks":[
         2,
         "always"
      ],
      "no-duplicate-case":2,
      "no-console":[
         0
      ],
      "no-unused-vars":[
         2,
         {
            "vars":"all",
            "args":"none"
         }
      ],
      "no-whitespace-before-property":2,
      "valid-jsdoc":[
         2,
         {
            "requireReturnDescription":false,
            "requireReturn":false,
            "requireReturnType":false,
            "requireParamDescription":false,
            "prefer":{
               "returns":"return"
            }
         }
      ],
      "no-extra-boolean-cast":[
         0
      ],
      "no-redeclare":[
         1
      ],
      "no-undef":[
         2
      ],
      "no-use-before-define":[
         0,
         "nofunc"
      ],
      "padded-blocks":[
         0,
         "always"
      ],
      "one-var":[
         0,
         "always"
      ],
      "object-curly-spacing":[
         0,
         "always",
         {
            "objectsInObjects":false,
            "arraysInObjects":false
         }
      ],
      "react/display-name":0
   },
   "env":{
      "es6":true,
      "jquery":true,
      "browser":true,
      "node":false,
      "mocha":true
   },
   "globals":{
      "Modernizr":false,
      "Handlebars":false,
      "React":false,
      "ReactDOM":false,
      "Redux":false,
      "fk":true
   },
   "plugins":[
      "react"
   ],
   "extends":[
      "eslint:recommended",
      "plugin:react/recommended"
   ]
}