<form onsubmit="return false;" action="#">
    <p>Fastighet: <strong>{{estate}}</strong><br />   
    Position(WGS84) lat: <strong>{{lat}}</strong> long: <strong>{{lng}}</strong></p>
    <label for="desc">Beskrivning</label><br />
    <textarea id="desc" rows="6" cols="58"></textarea><br />
    <button id="sendbutton" name="sendbutton" title="Skicka rapport" class="button green">Skicka</button>
</form>
