html  
{
    font: medium/1.200 "Times New Roman",serif;
}
body 
{
    color: #FFF;
    padding: 0;
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 2em;
    word-spacing: 0.1em;
}
h1 {
    margin: 20px auto 50px auto;
}    
a {
    text-decoration: none;
}
a:link {
    color: FireBrick;
}
a:visited {
    color: RosyBrown;
}
img {
    border: dotted 1px;
    margin: 4px 4px 4px 20px;
}
.clear {
    clear: both;
}
.dark
{
    background: #555 url('../img/background-dark.png') repeat;
    background-color: #555;
}
.images
{
    margin: 40px auto;
    width: 800px;
}
.copyright
{
    margin: auto;
    width: 100px;
}